*{
    margin: 0px;
    padding: 0px0;
}
.obox{
    border: solid 1px;
    height: 550px;
    background-image: url(food3.jpg);
    background-repeat: no-repeat;
    background-size: 1578px 750px;
}
#in1{
    border: solid 1px hidden;
    height: 50px;
}
#in2{
    color: antiquewhite;
    border: solid 1px hidden;
    height: 548px;
}
ul li{
    border: solid 1px;
    height: 50px;
    width: 160px;
    float: left;
    text-align: center;
    line-height: 50px;
    border-radius: 20px;
}
ul{
    list-style: none;
}
ul li a{
    color: rgb(146, 198, 14);
    font-size: 22px;
    text-decoration: none;
    font-weight: bold;
}
ul li :hover{
    background-color: rgb(166, 126, 203);
}
h1{
    color:rgb(182, 180, 187);
    text-align: center;
    font-size: 60px;
    font-weight: bold;
}
p{
    text-align: center;
    color: bisque;
    font-size: 40px;
    font-weight: bold;
    margin-right: 800px;
}